<footer>
    <div class="footer">
      <div class="sites">
        <a href="https://www.facebook.com/" target="_blank"><img src="../Images/facebook.png" alt="facebook"></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="../Images/instagram.png" alt="Instagram"></a>
        <a href="https://www.vk.com/" target="_blank"><img src="../Images/vk.png" alt="Vk"></a>
        <a href="https://www.telegram.org/" target="_blank"><img src="../Images/telegram.png" alt="telegram"></a>
      </div>
      <div class="textby">
        <p>&#169;&nbsp;Design and Developed by Sveta</p>
      </div>
    </div>
  </footer>